<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redstar.magic.pluginapk">

    <application
        android:name=".PluginApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <service
            android:name=".service.ServiceTest"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChajianActivity" />
        <activity
            android:name=".activity.TestFragmentActivity"
            android:process=":remote" />
        <activity android:name=".activity.DatabindingActivity" />
        <activity android:name=".activity.PluginLifeCycleActivity" />
        <activity
            android:name=".activity.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.ActivityTestActivity" />
        <activity
            android:name=".activity.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activity.ServiceTestActivity" />
        <activity android:name=".activity.ActivityForResultTestActivity" />
    </application>

</manifest>